@page
@model Cinemo.Pages.Admin.Room.CreateModel
@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script src="~/js/Validation.js"></script>
}

<div class="container">
  <div class="display-4">
    Create Room
  </div>

  <hr class="my-4">

  <form class="needs-validation" method="POST" novalidate>
    <div class="form-group row mx-0">
      <label>Name:</label>
      <input class="form-control" type="text" asp-for="CreateDto.Name" placeholder="Enter..." required>

      <div class="invalid-feedback">
        Please provide a name.
      </div>
    </div>
    <div class="form-group row mx-0">
      <label>Column number:</label>
      <input class="form-control" type="number" value="" placeholder="Enter number..." asp-for="CreateDto.NumCol" required>
      <div class="invalid-feedback">
        Please provide column number.
      </div>
    </div>
    <div class="form-group row mx-0">
      <label>Row number: </label>
      <input class="form-control" type="number" value="" placeholder="Enter number..." asp-for="CreateDto.NumRow" required>
      <div class="invalid-feedback">
        Please provide row number.
      </div>
    </div>

    <div class="form-group row mx-0">
      <label class="col-sm-1 col-form-label mr-sm-1 pl-0">
        Format:
      </label>
      <select asp-for="CreateDto.Formats" class="col" style="border: 1px solid #ced4da; border-radius: 0.25rem; outline: none;">
          <option>_2D</option>
          <option>_3D</option>
          <option>_IMAX</option>
        </select>
    </div>

    @if (Model.ErrorMessage != null) {
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @Model.ErrorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    }

    <div class="form-group">
      <button class="btn btn-primary" type="submit" name="Submit" id="">
        Create Room
      </button>
    </div>

    <a href="/Admin/Rooms">
      <i class="fas fa-angle-left mr-1"></i>Back to Rooms
    </a>
  </form>
</div>