@page
@model Cinemo.Pages.Admin.Room.DeleteModel
@{
}
<table>
  <tr>
    <td>
        Name @Model.room.Name <br>
        Formats @Model.room.Formats<br>
        NumCol @Model.room.NumCol<br>
        NumRow @Model.room.NumRow   <br>
    </td>
    <td>
      <br>
        <form action="" method="post">
            <input type="submit" value="Delete">
            <a href="./">Back</a>
        </form>
    </td>
  </tr>
</table>