.flatpickr-day {
  border: 1px solid #e9e9e9 !important;
}

  .flatpickr-day.selected {
    border-color: var(--primary) !important;
    background: var(--primary) !important;
    color: var(--white) !important;
  }

  .flatpickr-day.today:hover, .flatpickr-day.today:focus {
    background: #e9e9e9;
    color: #404848;
  }

  .flatpickr-day.today.selected:hover, .flatpickr-day.today.selected:focus {
  }

span.flatpickr-day.today:not(.selected):hover {
  border: 1px solid #e9e9e9;
}

span.flatpickr-day.today:not(.selected) {
  border: 1px solid #e9e9e9;
}

.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
  fill: var(--primary);
}
