.form-control[type=text] {
    border-bottom: 1px solid #4dd0e1;
    border-top: none ;
    border-right: none;
    border-left: none; 
    border-radius: 0px !important;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
