@page
@model Cinemo.Pages.Admin.TicketTypes.DeleteModel
@{
}
<table>
  <tr>
    <td>
        Name @Model.ticketType.Name <br>
        Formats @Model.ticketType.Price<br>
    </td>
    <td>
      <br>
        <form action="" method="post">
            <input type="submit" value="Delete">
            <a href="./">Back</a>
        </form>
    </td>
  </tr>
</table>