@page
@model Cinemo.Pages.Admin.Category.CreateModel

@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script src="~/js/Validation.js"></script>
}


<div class="container">
  <a href="/Admin/Categories">
    <i class="fas fa-angle-left mr-1"></i>Back to Categories
  </a>

  <div class="display-4">
    Create Category
  </div>

  <hr class="my-4">

  <form method="post" class="needs-validation" novalidate>
    <div class="form-group required">
      <label>Name</label>

      <input required type="text" asp-for="CreateDto.Name" class="form-control" placeholder="Enter a name">

      <div class="invalid-feedback">
        Please provide a name.
      </div>

    </div>

    <partial name="Shared/_ErrorAlert" model="@Model.ErrorMessage" />

    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        Create category
      </button>
    </div>


  </form>
</div>