@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/homepage.css">
}

<div class="container">
<div>
    <ul class="nav nav-tabs text-uppercase">
        <li class="pr-1 nav__item ">
            <a class="nav__link">
            Movie is playing
            </a>
        </li>
        
        <li class="nav__item ">
            <a class="nav__link">
            Upcoming movies
            </a>
        </li>
        
    </ul>
</div>

<br>

<div class="row row-cols-md-4">
    <div class="col mb-3">
        <div class="card border-0">
            <a href="#">
            <div class="bg-transparent">
                <span class="position-absolute badge badge-success">children</span>
                <img class="card-img-top" 
                        src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_cr2_digtal1sheet_action_vie_1.jpg">
                <button class="btn middle">
                    <a class="border border-light text-white px-2 py-1 text-decoration-none" 
                        href="#">Mua vé</a>
                </button>
            </div>
            <div class="card-body p-0">
                <h6 class="card-title text-uppercase text-truncate pt-2 mb-0 small font-weight-bold">The Croods 2: A New Age</h6>
                <p class="card-text text-uppercase text-truncate small">Gia Đình Croods: Kỷ Nguyên Mới</p>
            </div>
            </a>
        </div>
    </div>

    <div class="col mb-3">
        <div class="card border-0">
            <a href="#">
            <div class="bg-transparent">
                <span class="position-absolute badge badge-success">children</span>
                <img class="card-img-top" 
                        src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_cr2_digtal1sheet_action_vie_1.jpg">
                <button class="btn middle">
                    <a class="border border-light text-white px-2 py-1 text-decoration-none" 
                        href="#">Mua vé</a>
                </button>
            </div>
            <div class="card-body p-0">
                <h6 class="card-title text-uppercase text-truncate pt-2 mb-0 small font-weight-bold">The Croods 2: A New Age</h6>
                <p class="card-text text-uppercase text-truncate small">Gia Đình Croods: Kỷ Nguyên Mới</p>
            </div>
            </a>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card border-0">
            <a href="#">
            <div class="bg-transparent">
                <span class="position-absolute badge badge-success">children</span>
                <img class="card-img-top" 
                        src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_cr2_digtal1sheet_action_vie_1.jpg">
                <button class="btn middle">
                    <a class="border border-light text-white px-2 py-1 text-decoration-none" 
                        href="#">Mua vé</a>
                </button>
            </div>
            <div class="card-body p-0">
                <h6 class="card-title text-uppercase text-truncate pt-2 mb-0 small font-weight-bold">The Croods 2: A New Age</h6>
                <p class="card-text text-uppercase text-truncate small">Gia Đình Croods: Kỷ Nguyên Mới</p>
            </div>
            </a>
        </div>
    </div>

    <div class="col mb-3">
        <div class="card border-0">
            <a href="#">
            <div class="bg-transparent">
                <span class="position-absolute badge badge-success">children</span>
                <img class="card-img-top" 
                        src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_cr2_digtal1sheet_action_vie_1.jpg">
                <button class="btn middle">
                    <a class="border border-light text-white px-2 py-1 text-decoration-none" 
                        href="#">Mua vé</a>
                </button>
            </div>
            <div class="card-body p-0">
                <h6 class="card-title text-uppercase text-truncate pt-2 mb-0 small font-weight-bold">The Croods 2: A New Age</h6>
                <p class="card-text text-uppercase text-truncate small">Gia Đình Croods: Kỷ Nguyên Mới</p>
            </div>
            </a>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card border-0">
            <a href="#">
            <div class="bg-transparent">
                <span class="position-absolute badge badge-success">children</span>
                <img class="card-img-top" 
                        src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_cr2_digtal1sheet_action_vie_1.jpg">
                <button class="btn middle">
                    <a class="border border-light text-white px-2 py-1 text-decoration-none" 
                        href="#">Mua vé</a>
                </button>
            </div>
            <div class="card-body p-0">
                <h6 class="card-title text-uppercase text-truncate pt-2 mb-0 small font-weight-bold">The Croods 2: A New Age</h6>
                <p class="card-text text-uppercase text-truncate small">Gia Đình Croods: Kỷ Nguyên Mới</p>
            </div>
            </a>
        </div>
    </div>
</div>
</div>