@page
@model IndexModel
@inject Cinemo.Service.FileService FileService
@{
  ViewData["Title"] = "Home page";
}

@section Styles{
  <link rel="stylesheet" href="~/css/homepage.css">
}

<div>
  <ul class="nav nav-tabs text-uppercase">
    <li class="pr-1 nav__item">
      <a class="nav__link active" data-toggle="tab" href="#nowShowing">
        Now Showing
      </a>
    </li>

    <li class="nav__item ">
      <a class="nav__link" data-toggle="tab" href="#comingSoon">
        Coming Soon
      </a>
    </li>

  </ul>
</div>

<br>
<div class="tab-content">
  <div id="nowShowing" class="tab-pane active">
    <div class="row row-cols-md-4 no-gutters pl-4">
      @{
        foreach( var movie in @Model.ShowingMovies){
          <div class="col mb-1">
            <div class="card border-0">
              <a href="#">
                <div class="bg-transparent">
                  <img class="card-img-top"
                      src=@FileService.GetPath(movie.Img)
                      onerror="this.onerror=null; 
                      this.src='www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_cr2_digtal1sheet_action_vie_1.jpg'">
                  <button class="btn middle">
                    <a class="border border-light text-white px-2 py-1 text-decoration-none"
                      href="#">BUY TICKET</a>
                  </button>
                </div>
                <div class="card-body p-0">
                  <h6 class="card-title text-uppercase text-truncate pt-2 text">@movie.Title</h6>
                </div>
              </a>
            </div>
          </div>
        }
      }
    </div> 
  </div>

  <div id="comingSoon" class="tab-pane fade">
    <div class="row row-cols-md-4 no-gutters pl-4">
      @{
        foreach( var movie in @Model.UpcomingMovies){
          <div class="col mb-1">
            <div class="card border-0">
              <a href="#">
                <div class="bg-transparent">
                  <img class="card-img-top"
                      src=@FileService.GetPath(movie.Img)
                      onerror="this.onerror=null; 
                      this.src='www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_cr2_digtal1sheet_action_vie_1.jpg'">
                  <button class="btn middle">
                    <a class="border border-light text-white px-2 py-1 text-decoration-none"
                      href="#">BUY TICKET</a>
                  </button>
                </div>
                <div class="card-body p-0">
                  <h6 class="card-title text-uppercase text-truncate pt-2 text">@movie.Title</h6>
                </div>
              </a>
            </div>
          </div>
        }
      }
    </div> 
  </div>
</div>