@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

@section Styles{
  <link rel="stylesheet" href="~/css/homepage.css">
}
@{
  var cards = new[]{
    new{
      Poster = "https://galaxycine.vn/media/2020/11/25/josee300x450_1606279044468.jpg",
      Name = "JOSEE",
    },
    new{
      Poster = "https://galaxycine.vn/media/2020/12/3/1200wx1800h_1606989649212.jpg",
      Name = "EXTREME JOD",
    },
    new{
      Poster = "https://galaxycine.vn/media/2020/11/26/toiacthinhlang300x450_1606379842008.png",
      Name = "STONE SKIPPING",
    },
    new{
      Poster = "https://galaxycine.vn/media/2020/11/24/300-mon_1606210223608.jpg",
      Name = "DORAEMON: NOBITA'S NEW DINOSOUR",
    },
    new{
      Poster = "https://galaxycine.vn/media/2020/10/28/poster--nkc-18122020_1603852311426.jpg",
      Name = "CHỊ MƯỜI BA: 3 NGÀY SINH TỬ",
    },
  };
}


<div>
  <ul class="nav nav-tabs text-uppercase">
    <li class="pr-1 nav__item ">
      <a class="nav__link">
        Now Showing
      </a>
    </li>

    <li class="nav__item ">
      <a class="nav__link">
        Coming Soon
      </a>
    </li>

  </ul>
</div>

<br>

<div class="row row-cols-md-4 no-gutters pl-3">
  @{
    foreach( var card in cards){
      <div class="col mb-1">
        <div class="card border-0">
          <a href="#">
            <div class="bg-transparent">
              <img class="card-img-top"
                  src = @card.Poster>
              <button class="btn middle">
                <a class="border border-light text-white px-2 py-1 text-decoration-none"
                  href="#">BUY TICKET</a>
              </button>
            </div>
            <div class="card-body p-0">
              <h6 class="card-title text-uppercase text-truncate pt-2 text">@card.Name</h6>
            </div>
          </a>
        </div>
      </div>
    }
  }
</div>
