@page
@model IndexModel
@inject Cinemo.Service.FileService FileService
@{
  ViewData["Title"] = "Home page";
}

@section Styles{
  <link rel="stylesheet" href="~/css/homepage.css">
}

<div>
  <ul class="nav nav-tabs text-uppercase">
    <li class="mr-4 nav__item">
      <a class="nav__link active p-0" data-toggle="tab" href="#nowShowing">
        Now Showing
      </a>
    </li>

    <li class="nav__item ">
      <a class="nav__link p-0" data-toggle="tab" href="#comingSoon">
        Coming Soon
      </a>
    </li>

  </ul>
</div>

<br>
<div class="tab-content">
  <div id="nowShowing" class="tab-pane active">
    <div class="row">
      @{
        foreach (var movie in @Model.ShowingMovies) {
          <div class="card-columns-md-3 mx-2 px-2">
            <div class="card border-0">
              <a href="/Movie?id=@movie.Id">
                <div class="bg-transparent">
                  <img class="card-img-top"
                       src="~/uploads/@movie.Img">
                  <button class="btn middle">
                    <a class="border border-light text-white px-2 py-1 text-decoration-none"
                       href="/Movie?id=@movie.Id">BUY TICKET</a>
                  </button>
                </div>
                <div class="card-body p-0">
                  <h6 class="card-title text-uppercase text-truncate pt-2 text">@movie.Title</h6>
                </div>
              </a>
            </div>
          </div>
        }
      }
    </div>
  </div>
  
  <div id="comingSoon" class="tab-pane fade">
    <div class="row">
      @{
        foreach (var movie in @Model.UpcomingMovies) {
          <div class="card-columns-md-3 mx-2 px-2">
            <div class="card border-0">
              <a href="/Movie?id=@movie.Id">
                <div class="bg-transparent">
                  <img class="card-img-top"
                       src="~/uploads/@movie.Img">
                  <button class="btn middle">
                    <a class="border border-light text-white px-2 py-1 text-decoration-none"
                       href="/Movie?id=@movie.Id">BUY TICKET</a>
                  </button>
                </div>
                <div class="card-body p-0">
                  <h6 class="card-title text-uppercase text-truncate pt-2 text">@movie.Title</h6>
                </div>
              </a>
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>