@page
@model Cinemo.Pages.MovieModel
@{

}

<div class="row">
  <img class="col-3 p-0" src="~/uploads/b24f908e-9e77-47e0-a5c5-ba510d51c2b8.jpg" />

  <div class="col">
    <h3 class="mb-3">
      The Croods 2: A New Age
    </h3>

    <div class="mb-3">
      <i class="far fa-clock fa-fw"></i>
      96 minutes
    </div>

    <div>
      <i class="far fa-tag fa-fw"></i>
      Animation
    </div>

  </div>

</div>
