@page

@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script>
    function handleDelete(form) {
      confirmDelete({
        form: form,
        title: "Cancel ticket?",
        message: "Are you sure you want to cancel this ticket?",
      });
    }
  </script>
}

<div class="container">
  <div class="mb-3">
    <div class="d-inline-block display-4 mr-3">Tickets</div>
    <a class="btn btn-success btn-sm align-text-bottom ml-auto" href="#">
      <i class="fas fa-plus"></i>
      Book ticket
    </a>
  </div>
  <div class="cinemo-datatable">
    <table class="table">
      <thead>
        <tr>
          <th><div>Time</div></th>
          <th><div>Movie</div></th>
          <th><div>Room</div></th>
          <th><div>Theater</div></th>
          <th><div>Type</div></th>
          <th><div>Cancel</div></th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>12/30/2020 12:00:00 PM</td>
            <td>SpiderMan</td>
            <td>A01</td>
            <td>Nguyễn Du</td>
            <td>Normal</td>
  
            <td>
              <form id="cancel-ticket" method="POST" asp-page-handler="Delete">
                <input type="hidden" name="id" value="ticket.Id">

                <button type="button" class="btn btn-round btn-danger btn-sm"
                  onclick="handleDelete(this.form)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>

      </tbody>
    </table>
  </div>
</div>