@page
@model Cinemo.Pages.Admin.ShowTime.CreateModel
@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script src="~/js/Validation.js"></script>
}

<div class="container">
  <div class="display-4">
    Create Show Time
  </div>

  <hr class="my-4">

  <form class="needs-validation" method="POST" novalidate>
    <div class="form-group">
      <label>Theater:</label>

      <select required class="custom-select">
        <option>Choose theater</option>
        <option value="theater-1">Theater 1</option>
        <option value="theater-2">Theater 2</option>
        <option value="theater-3">Theater 3</option>
      </select>

      <div class="invalid-feedback">
        Please provide a theater name.
      </div>
    </div>

    <div class="form-group">
      <label>Movie:</label>
      <input class="form-control" type="text" value="" placeholder="Enter movie..." @*asp-for=""*@ required>
      <div class="invalid-feedback">
        Please provide movie name.
      </div>
    </div>

    <div class="form-group">
      <label>Extra price: </label>
      <input class="form-control" type="text" value="" placeholder="Enter extra price..." @*asp-for=""*@ required>
    </div>

    <div class="form-group mx-0">
      <label>Type:</label><br>
      <select class="custom-select">
        <option value="">Subtitle</option>
        <option>Dubbed</option>
        <option>Viet Nam</option>
      </select>
    </div>

    <div class="form-group mx-0">
      <label>
        Time:
      </label><br>
      <input class="form-control col-5" type="time" @*value="" asp-for=""*@ required>
      <div class="invalid-feedback">
        Time is required !
      </div>
    </div>


    <div class="form-group row mx-0">
      <label>Formats:</label>
      <input class="form-control" type="text" @*asp-for=""*@ placeholder="Enter formats or checkbox..." hidden>

      @{
        foreach (Cinemo.Models.Room.Format format in Enum.GetValues(typeof(Cinemo.Models.Room.Format))) {
          <div class="form-check">
            <input type="checkbox" name="format" value="@format" />
            <label class="form-check-label">@format</label>
          </div>

        }
      }
    </div>
    @*
      @if(Model.errMsg != null){
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @Model.errMsg
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        }*@

    <div class="form-group">
      <button class="btn btn-primary" type="submit" name="Submit" id="">
        Create
      </button>
    </div>

    <a href="/Admin/ShowTimes">
      <i class="fas fa-angle-left mr-1"></i>Back to Show Times
    </a>
  </form>
</div>
