@page
@model Cinemo.Pages.Admin.ShowTime.IndexModel
@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script>
    function handleDelete(form) {
      confirmDelete({
        form: form,
        title: "Delete show time?",
        message: "Are you sure you want to delete this show time?",
      });
    }
  </script>
}

<div class="container">
  <div class="mb-3">
    <div class="d-inline-block display-4 mr-3">Show Times</div>
    <a class="btn btn-success btn-sm align-text-bottom ml-auto" href="/Admin/ShowTimes/Create">
      <i class="fas fa-plus"></i>
      Create Show Time
    </a>
  </div>
  <div class="cinemo-datatable">
    <table class="table">
      <thead>
        <tr>
          <th><div>Theater</div></th>
          <th><div>Movie</div></th>
          <th><div>Extra Price</div></th>
          <th><div>Type</div></th>
          <th><div>Format</div></th>
          <th><div>Time</div></th>
          <th><div>Status</div></th>
          <th><div>Change Status</div></th>
          <th><div>Edit</div></th>
          <th><div>Delete</div></th>
        </tr>
      </thead>
      <tbody>
        @* @foreach (var r in Model.showTimes)
          {*@
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-primary btn-sm">
              Publish
            </button>
          </td>
          <td>
            <a class="btn btn-round btn-primary btn-sm" href="/Admin/ShowTimes/Update" @*?id=@r.Id"*@>
              <i class="fas fa-pen"></i>
            </a>
          </td>

          <td>
            <form id="delete-room" method="POST" asp-page-handler="Delete">
              <input type="hidden" name="id" @*value="@r.Id"*@>

              <button type="button" class="btn btn-round btn-danger btn-sm"
                      onclick="handleDelete(this.form)">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
        @*}*@
      </tbody>
    </table>
  </div>
</div>

